*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
}

:root {
    --primary-color: rgba(69, 239, 229, 1);
    --secondary-color: rgba(204, 246, 82, 1);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #170204;
    scroll-behavior: smooth;
    color: white;
  }
  
  .pricing-section {
    padding: 3rem 1rem;
  }
  
  .pricing-heading-con {
    text-align: center;
    font-size: 71px;
    font-weight: 600;
    letter-spacing: -2.13px;
    margin-bottom: 3rem;
  }
  
  .pricing-card-con {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .pricing-card {
    border: 1px solid #383e5c;
    border-radius: 12px;
    padding: 3rem;
    width: 382px;
    position: relative;
  }
  
  .pricing-card--2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 1px;
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--secondary-color) 90%
    );
    mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: 10px;
  }
  
  .pricing-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
  
    gap: 1.5rem;
  }
  
  .pricing-name {
    font-size: 2rem;
    font-weight: 600;
  }
  .pricing-price {
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -1.68px;
  }
  
  .pricing-period {
    color: #8c929e;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.42px;
  }
  
  .pricing-description {
    color: #8c929e;
    font-size: 20px;
  }
  
  .pricing-button {
    background-color: transparent;
    color: white;
    padding: 1.5rem 0;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .pricing-button:hover {
    color: #ccf652;
    border-color: #ccf652;
  }
  
  .pricing-features,
  .pricing-outputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .feature-item,
  .output-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.5rem;
  }
  
  .section-title {
    margin-bottom: 1rem;
  }
  
  .feature-text,
  .output-text {
    font-size: 22px;
    font-weight: 500;
  }
  
  .bx-check-circle {
    color: #ccf652;
    font-size: 2rem;
  }
  
  #moving-text {
    background: linear-gradient(90deg, #45efe5 0%, #ccf652) 85%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 768px) {
    .pricing-heading-con {
      font-size: 50px;
    }
    .pricing-price {
      font-size: 3rem;
    }
    p,
    button {
      font-size: 15px;
    }
  }
  nav ul.sidebar li:nth-child(6) a,
  nav ul:not(.sidebar) li:nth-child(6) a {
  color:#0042bd;
  }
  nav ul.sidebar li:nth-child(6) a,
  nav ul:not(.sidebar) li:nth-child(6) a {
  color:#0042bd;
  border: 1px solid #0042bd;
  padding: 0px 8px;
  border-radius: 3px;
  line-height: 1;
  }
  .footer {
    background-color: #7e7e7e;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-left img {
    width: 40px;
    margin-right: 10px;
  }
  
  .footer-right {
    display: flex;
  }
  
  .footer-column {
    margin-right: 30px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    display: block;
    color: gray;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .footer-column a:hover {
    color: blue; /* Change to your preferred hover color */
  }